/* You can add global styles to this file, and also import other style files */

.theme {
    background-color: #636363;
    color: #DBDBDB;
}

.main {
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-width: 100vw;
    min-height: 100vh;
}